<div class="row">
	<div id="breadcrumb" class="col-xs-12">
		<a href="#" class="show-sidebar">
			<i class="fa fa-bars"></i>
		</a>
		<ol class="breadcrumb pull-left">
			<li><a href="index.html">Dashboard</a></li>
			<li><a href="#">Pages</a></li>
			<li><a href="#">Feed Page</a></li>
		</ol>
		<div id="social" class="pull-right">
			<a href="#"><i class="fa fa-google-plus"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-youtube"></i></a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 page-feed">
		<div class="box">
			<div class="avatar">
				<img src="../img/avatar.jpg" alt="Jane" />
			</div>
			<div class="page-feed-content">
				<small class="time">Jane Devops, 12 min ago</small>
				<p>Linux is a Unix-like and POSIX-compliant computer operating system assembled under the model of free and open source software development and distribution. Maemo - Software platform developed by Nokia and then handed over to Hildon Foundation for smartphones and Internet tablets</p>
				<div class="likebox">
					<ul class="nav navbar-nav">
						<li><i class="fa fa-thumbs-up"></i> 138</li>
						<li><i class="fa fa-thumbs-down"></i> 47</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="avatar">
				<img src="../img/avatar.jpg" alt="Jane" />
			</div>
			<div class="page-feed-content">
				<small class="time">Jane Devops, 12 min ago</small>
				<p>Linux is a Unix-like and POSIX-compliant computer operating system assembled under the model of free and open source software development and distribution. Maemo - Software platform developed by Nokia and then handed over to Hildon Foundation for smartphones and Internet tablets</p>
				<div class="likebox">
					<ul class="nav navbar-nav">
						<li><i class="fa fa-thumbs-up"></i> 138</li>
						<li><i class="fa fa-thumbs-down"></i> 47</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-11 col-xs-offset-1 page-feed">
		<div class="box">
			<div class="avatar">
				<img src="../img/avatar.jpg" alt="Jane" />
			</div>
			<div class="page-feed-content">
				<small class="time">Jane Devops, 12 min ago</small>
				<p>Linux is a Unix-like and POSIX-compliant computer operating system assembled under the model of free and open source software development and distribution. Maemo - Software platform developed by Nokia and then handed over to Hildon Foundation for smartphones and Internet tablets</p>
				<div class="likebox">
					<ul class="nav navbar-nav">
						<li><i class="fa fa-thumbs-up"></i> 138</li>
						<li><i class="fa fa-thumbs-down"></i> 47</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="avatar">
				<img src="../img/avatar.jpg" alt="Jane" />
			</div>
			<div class="page-feed-content">
				<small class="time">Jane Devops, 12 min ago</small>
				<p>Linux is a Unix-like and POSIX-compliant computer operating system assembled under the model of free and open source software development and distribution. Maemo - Software platform developed by Nokia and then handed over to Hildon Foundation for smartphones and Internet tablets</p>
				<div class="likebox">
					<ul class="nav navbar-nav">
						<li><i class="fa fa-thumbs-up"></i> 138</li>
						<li><i class="fa fa-thumbs-down"></i> 47</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-10 col-xs-offset-2 page-feed">
		<div class="box">
			<div class="avatar">
				<img src="../img/avatar.jpg" alt="Jane" />
			</div>
			<div class="page-feed-content">
				<small class="time">Jane Devops, 12 min ago</small>
				<p>Linux is a Unix-like and POSIX-compliant computer operating system assembled under the model of free and open source software development and distribution. Maemo - Software platform developed by Nokia and then handed over to Hildon Foundation for smartphones and Internet tablets</p>
				<div class="likebox">
					<ul class="nav navbar-nav">
						<li><i class="fa fa-thumbs-up"></i> 138</li>
						<li><i class="fa fa-thumbs-down"></i> 47</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="avatar">
				<img src="../img/avatar.jpg" alt="Jane" />
			</div>
			<div class="page-feed-content">
				<small class="time">Jane Devops, 12 min ago</small>
				<p>Linux is a Unix-like and POSIX-compliant computer operating system assembled under the model of free and open source software development and distribution. Maemo - Software platform developed by Nokia and then handed over to Hildon Foundation for smartphones and Internet tablets</p>
				<div class="likebox">
					<ul class="nav navbar-nav">
						<li><i class="fa fa-thumbs-up"></i> 138</li>
						<li><i class="fa fa-thumbs-down"></i> 47</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
