<div class="row">
	<div id="breadcrumb" class="col-xs-12">
		<a href="#" class="show-sidebar">
			<i class="fa fa-bars"></i>
		</a>
		<ol class="breadcrumb pull-left">
			<li><a href="index.html">Dashboard</a></li>
			<li><a href="#">Pages</a></li>
			<li><a href="#">Product Browse</a></li>
		</ol>
		<div id="social" class="pull-right">
			<a href="#"><i class="fa fa-google-plus"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-youtube"></i></a>
		</div>
	</div>
</div>

<div class="row">	
	<div class="col-xs-12"> 
		<div class="control-group">
			<label class="control-label">Showing 1 - 12 of 100 results</label>
			<div class="pull-right">
				<select id="product-select">
					<option>Latest</option>
					<option>Most Popular</option>
					<option>Product name A - Z</option>
					<option>Product name Z - A</option>
					<option>Best Ratings</option>
					<option>Lowest Price</option>
					<option>Highest Price</option>
				</select>
			</div>
		</div>
	</div>
</div>
<div class="row">	
	<div class="col-xs-12 col-sm-3">
		<div class="box box-pricing">
			<div class="thumbnail">
				<img src="../img/9036958611_fa1bb7f827_m.jpg" alt="">    
				<div class="caption">
					<h5 class="text-center">ROLEX Primus One Gold</h5>
					<p>This product is awesome. New summer sensation! FREE SHIPPING!</p>
					<a href="#" class="btn btn-primary">Add to Cart</a> <a href="#" class="btn btn-default">Compare</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-3">
		<div class="box box-pricing">
			<div class="thumbnail">
				<img src="../img/9036958611_fa1bb7f827_m.jpg" alt="">    
				<div class="caption">
					<h5 class="text-center">ROLEX Primus One Gold</h5>
					<p>This product is awesome. New summer sensation! FREE SHIPPING!</p>
					<a href="#" class="btn btn-primary">Add to Cart</a> <a href="#" class="btn btn-default">Compare</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-3">
		<div class="box box-pricing">
			<div class="thumbnail">
				<img src="../img/9036958611_fa1bb7f827_m.jpg" alt="">    
				<div class="caption">
					<h5 class="text-center">ROLEX Primus One Gold</h5>
					<p>This product is awesome. New summer sensation! FREE SHIPPING!</p>
					<a href="#" class="btn btn-primary">Add to Cart</a> <a href="#" class="btn btn-default">Compare</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-3">
		<div class="box box-pricing">
			<div class="thumbnail">
				<img src="../img/9036958611_fa1bb7f827_m.jpg" alt="">    
				<div class="caption">
					<h5 class="text-center">ROLEX Primus One Gold</h5>
					<p>This product is awesome. New summer sensation! FREE SHIPPING!</p>
					<a href="#" class="btn btn-primary">Add to Cart</a> <a href="#" class="btn btn-default">Compare</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-3">
		<div class="box box-pricing">
			<div class="thumbnail">
				<img src="../img/9036958611_fa1bb7f827_m.jpg" alt="">    
				<div class="caption">
					<h5 class="text-center">ROLEX Primus One Gold</h5>
					<p>This product is awesome. New summer sensation! FREE SHIPPING!</p>
					<a href="#" class="btn btn-primary">Add to Cart</a> <a href="#" class="btn btn-default">Compare</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-3">
		<div class="box box-pricing">
			<div class="thumbnail">
				<img src="../img/9036958611_fa1bb7f827_m.jpg" alt="">    
				<div class="caption">
					<h5 class="text-center">ROLEX Primus One Gold</h5>
					<p>This product is awesome. New summer sensation! FREE SHIPPING!</p>
					<a href="#" class="btn btn-primary">Add to Cart</a> <a href="#" class="btn btn-default">Compare</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-3">
		<div class="box box-pricing">
			<div class="thumbnail">
				<img src="../img/9036958611_fa1bb7f827_m.jpg" alt="">    
				<div class="caption">
					<h5 class="text-center">ROLEX Primus One Gold</h5>
					<p>This product is awesome. New summer sensation! FREE SHIPPING!</p>
					<a href="#" class="btn btn-primary">Add to Cart</a> <a href="#" class="btn btn-default">Compare</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-3">
		<div class="box box-pricing">
			<div class="thumbnail">
				<img src="../img/9036958611_fa1bb7f827_m.jpg" alt="">    
				<div class="caption">
					<h5 class="text-center">ROLEX Primus One Gold</h5>
					<p>This product is awesome. New summer sensation! FREE SHIPPING!</p>
					<a href="#" class="btn btn-primary">Add to Cart</a> <a href="#" class="btn btn-default">Compare</a>
				</div>
			</div>
		</div>
	</div>
</div>
		
<div class="row">		
	<div class="col-xs-12">
		<ul class="pagination pagination-lg">
			<li><a href="#">«</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">...</a></li>
			<li><a href="#">10</a></li>
			<li><a href="#">»</a></li>
		</ul>
	</div>
</div>
<script type="text/javascript">
// Run Select2 on element
function Select2Test(){
	$("#product-select").select2();
}
$(document).ready(function() {
	// Load script of Select2 and run this
	LoadSelect2Script(Select2Test);
	WinMove();
});
</script>
