<div class="row">
	<div id="breadcrumb" class="col-xs-12">
		<a href="#" class="show-sidebar">
			<i class="fa fa-bars"></i>
		</a>
		<ol class="breadcrumb pull-left">
			<li><a href="#">Dashboard</a></li>
			<li><a href="#">Tables</a></li>
			<li><a href="#">Data Tables</a></li>
		</ol>
		<div id="social" class="pull-right">
			<a href="#"><i class="fa fa-google-plus"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-youtube"></i></a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-usd"></i>
					<span>The World's billionaries</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content no-padding">
				<table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
					<thead>
						<tr>
							<th>Rank</th>
							<th>Name</th>
							<th>Net Worth</th>
							<th>Age</th>
							<th>Source</th>
							<th>Country of Citizenship</th>
						</tr>
					</thead>
					<tbody>
					<!-- Start: list_row -->
						<tr>
							<td>1</td>
							<td><img class="img-rounded" src="../img/people/carlos-slim-helu_50x50.jpg" alt="">Carlos Slim Helu & family</td>
							<td>$73 B</td>
							<td>74</td>
							<td>telecom</td>
							<td>Mexico</td>
						</tr>
						<tr>
							<td>2</td>
							<td><img class="img-rounded" src="../img/people/bill-gates_50x50.jpg" alt="">Bill Gates</td>
							<td>$67 B</td>
							<td>58</td>
							<td>Microsoft</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>3</td>
							<td><img class="img-rounded" src="../img/people/amancio-ortega_50x50.jpg" alt="">Amancio Ortega</td>
							<td>$57 B</td>
							<td>77</td>
							<td>Zara</td>
							<td>Spain</td>
						</tr>
						<tr>
							<td>4</td>
							<td><img class="img-rounded" src="../img/people/warren-buffett_50x50.jpg" alt="">Warren Buffett</td>
							<td>$53.5 B</td>
							<td>83</td>
							<td>Berkshire Hathaway</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>5</td>
							<td><img class="img-rounded" src="../img/people/larry-ellison_50x50.jpg" alt="">Larry Ellison</td>
							<td>$43 B</td>
							<td>69</td>
							<td>Oracle</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>6</td>
							<td><img class="img-rounded" src="../img/people/charles-koch_50x50.jpg" alt="">Charles Koch</td>
							<td>$34 B</td>
							<td>78</td>
							<td>diversified</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>6</td>
							<td><img class="img-rounded" src="../img/people/david-koch_50x50.jpg" alt="">David Koch</td>
							<td>$34 B</td>
							<td>73</td>
							<td>diversified</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>8</td>
							<td><img class="img-rounded" src="../img/people/li-ka-shing_50x50.jpg" alt="">Li Ka-shing</td>
							<td>$31 B</td>
							<td>85</td>
							<td>diversified</td>
							<td>Hong Kong</td>
						</tr>
						<tr>
							<td>9</td>
							<td><img class="img-rounded" src="../img/people/liliane-bettencourt_50x50.jpg" alt="">Liliane Bettencourt & family</td>
							<td>$30 B</td>
							<td>91</td>
							<td>L'Oreal</td>
							<td>France</td>
						</tr>
						<tr>
							<td>10</td>
							<td><img class="img-rounded" src="../img/people/bernard-arnault_50x50.jpg" alt="">Bernard Arnault & family</td>
							<td>$29 B</td>
							<td>64</td>
							<td>LVMH</td>
							<td>France</td>
						</tr>
						<tr>
							<td>11</td>
							<td><img class="img-rounded" src="../img/people/christy-walton_50x50.jpg" alt="">Christy Walton & family</td>
							<td>$28.2 B</td>
							<td>59</td>
							<td>Wal-Mart</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>12</td>
							<td><img class="img-rounded" src="../img/people/stefan-persson_50x50.jpg" alt="">Stefan Persson</td>
							<td>$28 B</td>
							<td>66</td>
							<td>H&amp;M</td>
							<td>Sweden</td>
						</tr>
						<tr>
							<td>13</td>
							<td><img class="img-rounded" src="../img/people/michael-bloomberg_50x50.jpg" alt="">Michael Bloomberg</td>
							<td>$27 B</td>
							<td>71</td>
							<td>Bloomberg LP</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>14</td>
							<td><img class="img-rounded" src="../img/people/jim-walton_50x50.jpg" alt="">Jim Walton</td>
							<td>$26.7 B</td>
							<td>66</td>
							<td>Wal-Mart</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>15</td>
							<td><img class="img-rounded" src="../img/people/sheldon-adelson_50x50.jpg" alt="">Sheldon Adelson</td>
							<td>$26.5 B</td>
							<td>80</td>
							<td>casinos</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>16</td>
							<td><img class="img-rounded" src="../img/people/alice-walton_50x50.jpg" alt="">Alice Walton</td>
							<td>$26.3 B</td>
							<td>64</td>
							<td>Wal-Mart</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>17</td>
							<td><img class="img-rounded" src="../img/people/s-robson-walton_50x50.jpg" alt="">S. Robson Walton</td>
							<td>$26.1 B</td>
							<td>70</td>
							<td>Wal-Mart</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>18</td>
							<td><img class="img-rounded" src="../img/people/no-pic_50x50.jpg" alt="">Karl Albrecht</td>
							<td>$26 B</td>
							<td>93</td>
							<td>Aldi</td>
							<td>Germany</td>
						</tr>
						<tr>
							<td>19</td>
							<td><img class="img-rounded" src="../img/people/jeff-bezos_50x50.jpg" alt="">Jeff Bezos</td>
							<td>$25.2 B</td>
							<td>50</td>
							<td>Amazon.com</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>20</td>
							<td><img class="img-rounded" src="../img/people/larry-page_50x50.jpg" alt="">Larry Page</td>
							<td>$23 B</td>
							<td>40</td>
							<td>Google</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>21</td>
							<td><img class="img-rounded" src="../img/people/sergey-brin_50x50.jpg" alt="">Sergey Brin</td>
							<td>$22.8 B</td>
							<td>40</td>
							<td>Google</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>22</td>
							<td><img class="img-rounded" src="../img/people/mukesh-ambani_50x50.jpg" alt="">Mukesh Ambani</td>
							<td>$21.5 B</td>
							<td>56</td>
							<td>petrochemicals, oil & gas</td>
							<td>India</td>
						</tr>
						<tr>
							<td>23</td>
							<td><img class="img-rounded" src="../img/people/michele-ferrero_50x50.jpg" alt="">Michele Ferrero & family</td>
							<td>$20.4 B</td>
							<td>88</td>
							<td>chocolates</td>
							<td>Italy</td>
						</tr>
						<tr>
							<td>24</td>
							<td><img class="img-rounded" src="../img/people/lee-shau-kee_50x50.jpg" alt="">Lee Shau Kee</td>
							<td>$20.3 B</td>
							<td>86</td>
							<td>diversified</td>
							<td>Hong Kong</td>
						</tr>
						<tr>
							<td>24</td>
							<td><img class="img-rounded" src="../img/people/david-thomson_50x50.jpg" alt="">David Thomson & family</td>
							<td>$20.3 B</td>
							<td>56</td>
							<td>media</td>
							<td>Canada</td>
						</tr>
						<tr>
							<td>26</td>
							<td><img class="img-rounded" src="../img/people/prince-alwaleed-bin-talal-alsaud_50x50.jpg" alt="">Prince Alwaleed Bin Talal Alsaud</td>
							<td>$20 B</td>
							<td>58</td>
							<td>investments</td>
							<td>Saudi Arabia</td>
						</tr>
						<tr>
							<td>26</td>
							<td><img class="img-rounded" src="../img/people/carl-icahn_50x50.jpg" alt="">Carl Icahn</td>
							<td>$20 B</td>
							<td>77</td>
							<td>leveraged buyouts</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>26</td>
							<td><img class="img-rounded" src="../img/people/thomas-raymond-kwok_50x50.jpg" alt="">Thomas & Raymond Kwok & family</td>
							<td>$20 B</td>
							<td>-</td>
							<td>real estate</td>
							<td>Hong Kong</td>
						</tr>
						<tr>
							<td>29</td>
							<td><img class="img-rounded" src="../img/people/no-pic_50x50.jpg" alt="">Dieter Schwarz</td>
							<td>$19.5 B</td>
							<td>74</td>
							<td>retail</td>
							<td>Germany</td>
						</tr>
						<tr>
							<td>30</td>
							<td><img class="img-rounded" src="../img/people/george-soros_50x50.jpg" alt="">George Soros</td>
							<td>$19.2 B</td>
							<td>83</td>
							<td>hedge funds</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>31</td>
							<td><img class="img-rounded" src="../img/people/no-pic_50x50.jpg" alt="">Theo Albrecht, Jr. & family</td>
							<td>$18.9 B</td>
							<td>63</td>
							<td>Aldi, Trader Joe's</td>
							<td>Germany</td>
						</tr>
						<tr>
							<td>32</td>
							<td><img class="img-rounded" src="../img/people/alberto-bailleres-gonzalez_50x50.jpg" alt="">Alberto Bailleres Gonzalez & family</td>
							<td>$18.2 B</td>
							<td>82</td>
							<td>mining</td>
							<td>Mexico</td>
						</tr>
						<tr>
							<td>33</td>
							<td><img class="img-rounded" src="../img/people/jorge-paulo-lemann_50x50.jpg" alt="">Jorge Paulo Lemann</td>
							<td>$17.8 B</td>
							<td>74</td>
							<td>beer</td>
							<td>Brazil</td>
						</tr>
						<tr>
							<td>34</td>
							<td><img class="img-rounded" src="../img/people/alisher-usmanov_50x50.jpg" alt="">Alisher Usmanov</td>
							<td>$17.6 B</td>
							<td>60</td>
							<td>steel, telecom, investments</td>
							<td>Russia</td>
						</tr>
						<tr>
							<td>35</td>
							<td><img class="img-rounded" src="../img/people/no-pic_50x50.jpg" alt="">Iris Fontbona & family</td>
							<td>$17.4 B</td>
							<td>71</td>
							<td>mining</td>
							<td>Chile</td>
						</tr>
						<tr>
							<td>36</td>
							<td><img class="img-rounded" src="../img/people/forrest-mars-jr_50x50.jpg" alt="">Forrest Mars, Jr.</td>
							<td>$17 B</td>
							<td>82</td>
							<td>candy</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>36</td>
							<td><img class="img-rounded" src="../img/people/jacqueline-mars_50x50.jpg" alt="">Jacqueline Mars</td>
							<td>$17 B</td>
							<td>74</td>
							<td>candy</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>36</td>
							<td><img class="img-rounded" src="../img/people/no-pic_50x50.jpg" alt="">John Mars</td>
							<td>$17 B</td>
							<td>77</td>
							<td>candy</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>36</td>
							<td><img class="img-rounded" src="../img/people/gina-rinehart_50x50.jpg" alt="">Georgina Rinehart</td>
							<td>$17 B</td>
							<td>60</td>
							<td>mining</td>
							<td>Australia</td>
						</tr>
						<tr>
							<td>40</td>
							<td><img class="img-rounded" src="../img/people/no-pic_50x50.jpg" alt="">German Larrea Mota Velasco & family</td>
							<td>$16.7 B</td>
							<td>60</td>
							<td>mining</td>
							<td>Mexico</td>
						</tr>
						<tr>
							<td>41</td>
							<td><img class="img-rounded" src="../img/people/mikhail-fridman_50x50.jpg" alt="">Mikhail Fridman</td>
							<td>$16.5 B</td>
							<td>49</td>
							<td>oil, banking, telecom</td>
							<td>Russia</td>
						</tr>
						<tr>
							<td>41</td>
							<td><img class="img-rounded" src="../img/people/lakshmi-mittal_50x50.jpg" alt="">Lakshmi Mittal</td>
							<td>$16.5 B</td>
							<td>63</td>
							<td>steel</td>
							<td>India</td>
						</tr>
						<tr>
							<td>43</td>
							<td><img class="img-rounded" src="../img/people/aliko-dangote_50x50.jpg" alt="">Aliko Dangote</td>
							<td>$16.1 B</td>
							<td>56</td>
							<td>cement, sugar, flour</td>
							<td>Nigeria</td>
						</tr>
						<tr>
							<td>44</td>
							<td><img class="img-rounded" src="../img/people/len-blavatnik_50x50.jpg" alt="">Len Blavatnik</td>
							<td>$16 B</td>
							<td>56</td>
							<td>diversified</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>44</td>
							<td><img class="img-rounded" src="../img/people/cheng-yu-tung_50x50.jpg" alt="">Cheng Yu-tung</td>
							<td>$16 B</td>
							<td>88</td>
							<td>diversified</td>
							<td>Hong Kong</td>
						</tr>
						<tr>
							<td>46</td>
							<td><img class="img-rounded" src="../img/people/joseph-safra_50x50.jpg" alt="">Joseph Safra</td>
							<td>$15.9 B</td>
							<td>75</td>
							<td>banking</td>
							<td>Brazil</td>
						</tr>
						<tr>
							<td>47</td>
							<td><img class="img-rounded" src="../img/people/rinat-akhmetov_50x50.jpg" alt="">Rinat Akhmetov</td>
							<td>$15.4 B</td>
							<td>47</td>
							<td>steel, coal</td>
							<td>Ukraine</td>
						</tr>
						<tr>
							<td>47</td>
							<td><img class="img-rounded" src="../img/people/leonid-mikhelson_50x50.jpg" alt="">Leonid Mikhelson</td>
							<td>$15.4 B</td>
							<td>58</td>
							<td>gas, chemicals</td>
							<td>Russia</td>
						</tr>
						<tr>
							<td>49</td>
							<td><img class="img-rounded" src="../img/people/leonardo-del-vecchio_50x50.jpg" alt="">Leonardo Del Vecchio</td>
							<td>$15.3 B</td>
							<td>78</td>
							<td>eyeglasses</td>
							<td>Italy</td>
						</tr>
						<tr>
							<td>49</td>
							<td><img class="img-rounded" src="../img/people/michael-dell_50x50.jpg" alt="">Michael Dell</td>
							<td>$15.3 B</td>
							<td>48</td>
							<td>Dell</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>51</td>
							<td><img class="img-rounded" src="../img/people/steve-ballmer_50x50.jpg" alt="">Steve Ballmer</td>
							<td>$15.2 B</td>
							<td>57</td>
							<td>Microsoft</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>52</td>
							<td><img class="img-rounded" src="../img/people/viktor-vekselberg_50x50.jpg" alt="">Viktor Vekselberg</td>
							<td>$15.1 B</td>
							<td>56</td>
							<td>oil, metals</td>
							<td>Russia</td>
						</tr>
						<tr>
							<td>53</td>
							<td><img class="img-rounded" src="../img/people/paul-allen_50x50.jpg" alt="">Paul Allen</td>
							<td>$15 B</td>
							<td>61</td>
							<td>Microsoft, investments</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>53</td>
							<td><img class="img-rounded" src="../img/people/francois-pinault_50x50.jpg" alt="">Francois Pinault & family</td>
							<td>$15 B</td>
							<td>77</td>
							<td>retail</td>
							<td>France</td>
						</tr>
						<tr>
							<td>55</td>
							<td><img class="img-rounded" src="../img/people/vagit-alekperov_50x50.jpg" alt="">Vagit Alekperov</td>
							<td>$14.8 B</td>
							<td>63</td>
							<td>Lukoil</td>
							<td>Russia</td>
						</tr>
						<tr>
							<td>56</td>
							<td><img class="img-rounded" src="../img/people/phil-knight_50x50.jpg" alt="">Phil Knight</td>
							<td>$14.4 B</td>
							<td>75</td>
							<td>Nike</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>56</td>
							<td><img class="img-rounded" src="../img/people/andrey-melnichenko_50x50.jpg" alt="">Andrey Melnichenko</td>
							<td>$14.4 B</td>
							<td>41</td>
							<td>coal, fertilizers</td>
							<td>Russia</td>
						</tr>
						<tr>
							<td>58</td>
							<td><img class="img-rounded" src="../img/people/dhanin-chearavanont_50x50.jpg" alt="">Dhanin Chearavanont & family</td>
							<td>$14.3 B</td>
							<td>74</td>
							<td>food</td>
							<td>Thailand</td>
						</tr>
						<tr>
							<td>58</td>
							<td><img class="img-rounded" src="../img/people/susanne-klatten_50x50.jpg" alt="">Susanne Klatten</td>
							<td>$14.3 B</td>
							<td>51</td>
							<td>BMW, pharmaceuticals</td>
							<td>Germany</td>
						</tr>
						<tr>
							<td>58</td>
							<td><img class="img-rounded" src="../img/people/vladimir-potanin_50x50.jpg" alt="">Vladimir Potanin</td>
							<td>$14.3 B</td>
							<td>53</td>
							<td>metals</td>
							<td>Russia</td>
						</tr>
						<tr>
							<td>61</td>
							<td><img class="img-rounded" src="../img/people/michael-otto_50x50.jpg" alt="">Michael Otto & family</td>
							<td>$14.2 B</td>
							<td>70</td>
							<td>retail, real estate</td>
							<td>Germany</td>
						</tr>
						<tr>
							<td>62</td>
							<td><img class="img-rounded" src="../img/people/vladimir-lisin_50x50.jpg" alt="">Vladimir Lisin</td>
							<td>$14.1 B</td>
							<td>57</td>
							<td>steel, transport</td>
							<td>Russia</td>
						</tr>
						<tr>
							<td>62</td>
							<td><img class="img-rounded" src="../img/people/gennady-timchenko_50x50.jpg" alt="">Gennady Timchenko</td>
							<td>$14.1 B</td>
							<td>61</td>
							<td>oil & gas</td>
							<td>Russia</td>
						</tr>
						<tr>
							<td>64</td>
							<td><img class="img-rounded" src="../img/people/luis-carlos-sarmiento_50x50.jpg" alt="">Luis Carlos Sarmiento</td>
							<td>$13.9 B</td>
							<td>81</td>
							<td>banking</td>
							<td>Colombia</td>
						</tr>
						<tr>
							<td>65</td>
							<td><img class="img-rounded" src="../img/people/mohammed-al-amoudi_50x50.jpg" alt="">Mohammed Al Amoudi</td>
							<td>$13.5 B</td>
							<td>69</td>
							<td>oil, diversified</td>
							<td>Saudi Arabia</td>
						</tr>
						<tr>
							<td>66</td>
							<td><img class="img-rounded" src="../img/people/tadashi-yanai_50x50.jpg" alt="">Tadashi Yanai & family</td>
							<td>$13.3 B</td>
							<td>65</td>
							<td>retail</td>
							<td>Japan</td>
						</tr>
						<tr>
							<td>66</td>
							<td><img class="img-rounded" src="../img/people/mark-zuckerberg_50x50.jpg" alt="">Mark Zuckerberg</td>
							<td>$13.3 B</td>
							<td>29</td>
							<td>Facebook</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>68</td>
							<td><img class="img-rounded" src="../img/people/henry-sy_50x50.jpg" alt="">Henry Sy & family</td>
							<td>$13.2 B</td>
							<td>89</td>
							<td>diversified</td>
							<td>Philippines</td>
						</tr>
						<tr>
							<td>69</td>
							<td><img class="img-rounded" src="../img/people/donald-bren_50x50.jpg" alt="">Donald Bren</td>
							<td>$13 B</td>
							<td>81</td>
							<td>real estate</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>69</td>
							<td><img class="img-rounded" src="../img/people/serge-dassault_50x50.jpg" alt="">Serge Dassault & family</td>
							<td>$13 B</td>
							<td>88</td>
							<td>aviation</td>
							<td>France</td>
						</tr>
						<tr>
							<td>69</td>
							<td><img class="img-rounded" src="../img/people/lee-kun-hee_50x50.jpg" alt="">Lee Kun-Hee</td>
							<td>$13 B</td>
							<td>72</td>
							<td>Samsung</td>
							<td>South Korea</td>
						</tr>
						<tr>
							<td>69</td>
							<td><img class="img-rounded" src="../img/people/mikhail-prokhorov_50x50.jpg" alt="">Mikhail Prokhorov</td>
							<td>$13 B</td>
							<td>48</td>
							<td>investments</td>
							<td>Russia</td>
						</tr>
						<tr>
							<td>73</td>
							<td><img class="img-rounded" src="../img/people/alexey-mordashov_50x50.jpg" alt="">Alexey Mordashov</td>
							<td>$12.8 B</td>
							<td>48</td>
							<td>steel, investments</td>
							<td>Russia</td>
						</tr>
						<tr>
							<td>74</td>
							<td><img class="img-rounded" src="../img/people/antonio-ermirio-de-moraes_50x50.jpg" alt="">Antonio Ermirio de Moraes & family</td>
							<td>$12.7 B</td>
							<td>85</td>
							<td>diversified</td>
							<td>Brazil</td>
						</tr>
						<tr>
							<td>74</td>
							<td><img class="img-rounded" src="../img/people/abigail-johnson_50x50.jpg" alt="">Abigail Johnson</td>
							<td>$12.7 B</td>
							<td>52</td>
							<td>money management</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>76</td>
							<td><img class="img-rounded" src="../img/people/ray-dalio_50x50.jpg" alt="">Ray Dalio</td>
							<td>$12.5 B</td>
							<td>64</td>
							<td>hedge funds</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>76</td>
							<td><img class="img-rounded" src="../img/people/robert-kuok_50x50.jpg" alt="">Robert Kuok</td>
							<td>$12.5 B</td>
							<td>90</td>
							<td>diversified</td>
							<td>Malaysia</td>
						</tr>
						<tr>
							<td>78</td>
							<td><img class="img-rounded" src="../img/people/miuccia-prada_50x50.jpg" alt="">Miuccia Prada</td>
							<td>$12.4 B</td>
							<td>64</td>
							<td>Prada</td>
							<td>Italy</td>
						</tr>
						<tr>
							<td>79</td>
							<td><img class="img-rounded" src="../img/people/ronald-perelman_50x50.jpg" alt="">Ronald Perelman</td>
							<td>$12.2 B</td>
							<td>71</td>
							<td>leveraged buyouts</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>80</td>
							<td><img class="img-rounded" src="../img/people/anne-cox-chambers_50x50.jpg" alt="">Anne Cox Chambers</td>
							<td>$12 B</td>
							<td>94</td>
							<td>media</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>81</td>
							<td><img class="img-rounded" src="../img/people/stefan-quandt_50x50.jpg" alt="">Stefan Quandt</td>
							<td>$11.9 B</td>
							<td>47</td>
							<td>BMW</td>
							<td>Germany</td>
						</tr>
						<tr>
							<td>82</td>
							<td><img class="img-rounded" src="../img/people/ananda-krishnan_50x50.jpg" alt="">Ananda Krishnan</td>
							<td>$11.7 B</td>
							<td>75</td>
							<td>telecoms</td>
							<td>Malaysia</td>
						</tr>
						<tr>
							<td>82</td>
							<td><img class="img-rounded" src="../img/people/alejandro-santo-domingo-davila_50x50.jpg" alt="">Alejandro Santo Domingo Davila</td>
							<td>$11.7 B</td>
							<td>36</td>
							<td>beer</td>
							<td>Colombia</td>
						</tr>
						<tr>
							<td>82</td>
							<td><img class="img-rounded" src="../img/people/james-simons_50x50.jpg" alt="">James Simons</td>
							<td>$11.7 B</td>
							<td>75</td>
							<td>hedge funds</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>82</td>
							<td><img class="img-rounded" src="../img/people/charoen-sirivadhanabhakdi_50x50.jpg" alt="">Charoen Sirivadhanabhakdi</td>
							<td>$11.7 B</td>
							<td>69</td>
							<td>drinks</td>
							<td>Thailand</td>
						</tr>
						<tr>
							<td>86</td>
							<td><img class="img-rounded" src="../img/people/zong-qinghou_50x50.jpg" alt="">Zong Qinghou</td>
							<td>$11.6 B</td>
							<td>68</td>
							<td>beverages</td>
							<td>China</td>
						</tr>
						<tr>
							<td>87</td>
							<td><img class="img-rounded" src="../img/people/no-pic_50x50.jpg" alt="">Dirce Navarro De Camargo & family</td>
							<td>$11.5 B</td>
							<td>-</td>
							<td>construction</td>
							<td>Brazil</td>
						</tr>
						<tr>
							<td>87</td>
							<td><img class="img-rounded" src="../img/people/john-fredriksen_50x50.jpg" alt="">John Fredriksen</td>
							<td>$11.5 B</td>
							<td>69</td>
							<td>shipping</td>
							<td>Cyprus</td>
						</tr>
						<tr>
							<td>89</td>
							<td><img class="img-rounded" src="../img/people/gerald-cavendish-grosvenor_50x50.jpg" alt="">Gerald Cavendish Grosvenor & family</td>
							<td>$11.4 B</td>
							<td>62</td>
							<td>real estate</td>
							<td>United Kingdom</td>
						</tr>
						<tr>
							<td>90</td>
							<td><img class="img-rounded" src="../img/people/harold-hamm_50x50.jpg" alt="">Harold Hamm</td>
							<td>$11.3 B</td>
							<td>68</td>
							<td>oil & gas</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>91</td>
							<td><img class="img-rounded" src="../img/people/rupert-murdoch_50x50.jpg" alt="">Rupert Murdoch & family</td>
							<td>$11.2 B</td>
							<td>82</td>
							<td>News Corp</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>91</td>
							<td><img class="img-rounded" src="../img/people/john-paulson_50x50.jpg" alt="">John Paulson</td>
							<td>$11.2 B</td>
							<td>58</td>
							<td>hedge funds</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>91</td>
							<td><img class="img-rounded" src="../img/people/azim-premji_50x50.jpg" alt="">Azim Premji</td>
							<td>$11.2 B</td>
							<td>68</td>
							<td>software</td>
							<td>India</td>
						</tr>
						<tr>
							<td>94</td>
							<td><img class="img-rounded" src="../img/people/ernesto-bertarelli_50x50.jpg" alt="">Ernesto Bertarelli & family</td>
							<td>$11 B</td>
							<td>48</td>
							<td>biotech, investments</td>
							<td>Switzerland</td>
						</tr>
						<tr>
							<td>94</td>
							<td><img class="img-rounded" src="../img/people/charlene-de-carvalho-heineken_50x50.jpg" alt="">Charlene de Carvalho-Heineken</td>
							<td>$11 B</td>
							<td>59</td>
							<td>Heineken</td>
							<td>Netherlands</td>
						</tr>
						<tr>
							<td>94</td>
							<td><img class="img-rounded" src="../img/people/hans-rausing_50x50.jpg" alt="">Hans Rausing</td>
							<td>$11 B</td>
							<td>87</td>
							<td>packaging</td>
							<td>Sweden</td>
						</tr>
						<tr>
							<td>94</td>
							<td><img class="img-rounded" src="../img/people/jack-taylor_50x50.jpg" alt="">Jack Taylor & family</td>
							<td>$11 B</td>
							<td>91</td>
							<td>Enterprise Rent-A-Car</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>98</td>
							<td><img class="img-rounded" src="../img/people/lui-che-woo_50x50.jpg" alt="">Lui Che Woo</td>
							<td>$10.7 B</td>
							<td>84</td>
							<td>gaming</td>
							<td>Hong Kong</td>
						</tr>
						<tr>
							<td>98</td>
							<td><img class="img-rounded" src="../img/people/laurene-powell-jobs_50x50.jpg" alt="">Laurene Powell Jobs & family</td>
							<td>$10.7 B</td>
							<td>50</td>
							<td>Apple, Disney</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>100</td>
							<td><img class="img-rounded" src="../img/people/eike-batista_50x50.jpg" alt="">Eike Batista</td>
							<td>$10.6 B</td>
							<td>57</td>
							<td>mining, oil</td>
							<td>Brazil</td>
						</tr>
					<!-- End: list_row -->
					</tbody>
					<tfoot>
						<tr>
							<th>Rank</th>
							<th>Name</th>
							<th>Net Worth</th>
							<th>Age</th>
							<th>Source</th>
							<th>Country of Citizenship</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-linux"></i>
					<span>LinuxJournal Readers' Choice Awards 2013 Linux distro</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content no-padding table-responsive">
				<table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-2">
					<thead>
						<tr>
							<th><label><input type="text" name="search_rate" value="Search rate" class="search_init" /></label></th>
							<th><label><input type="text" name="search_name" value="Search distro" class="search_init" /></label></th>
							<th><label><input type="text" name="search_votes" value="Search votes" class="search_init" /></label></th>
							<th><label><input type="text" name="search_homepage" value="Search homepage" class="search_init" /></label></th>
							<th><label><input type="text" name="search_version" value="Search versions" class="search_init" /></label></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Ubuntu</td>
							<td>16%</td>
							<td><i class="fa fa-home"></i><a href="https://ubuntu.com" target="_blank">https://ubuntu.com</a></td>
							<td>13.10</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Debian</td>
							<td>14.1%</td>
							<td><i class="fa fa-home"></i><a href="https://debian.org" target="_blank">https://debian.org</a></td>
							<td>7.4</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Arch Linux</td>
							<td>10.8%</td>
							<td><i class="fa fa-home"></i><a href="https://archlinux.org" target="_blank">https://archlinux.org</a></td>
							<td>2014.02.01</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Linux Mint</td>
							<td>10.5%</td>
							<td><i class="fa fa-home"></i><a href="https://linuxmint.com" target="_blank">https://linuxmint.com</a></td>
							<td>16</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Fedora</td>
							<td>6.9%</td>
							<td><i class="fa fa-home"></i><a href="https://fedoraproject.org" target="_blank">https://fedoraproject.org</a></td>
							<td>20</td>
						</tr>
						<tr>
							<td>6</td>
							<td>openSUSE</td>
							<td>5.2%</td>
							<td><i class="fa fa-home"></i><a href="https://opensuse.org" target="_blank">https://opensuse.org</a></td>
							<td>13.1</td>
						</tr>
						<tr>
							<td>7</td>
							<td>SolydK</td>
							<td>4.7%</td>
							<td><i class="fa fa-home"></i><a href="https://solydxk.com" target="_blank">https://solydxk.com</a></td>
							<td>201401</td>
						</tr>
						<tr>
							<td>8</td>
							<td>CentOS</td>
							<td>4.1%</td>
							<td><i class="fa fa-home"></i><a href="https://centos.org" target="_blank">https://centos.org</a></td>
							<td>6.5</td>
						</tr>
						<tr>
							<td>9</td>
							<td>Kubuntu</td>
							<td>3.8%</td>
							<td><i class="fa fa-home"></i><a href="https://www.kubuntu.org" target="_blank">https://www.kubuntu.org</a></td>
							<td>13.10</td>
						</tr>
						<tr>
							<td>10</td>
							<td>PCLinuxOS</td>
							<td>3.7%</td>
							<td><i class="fa fa-home"></i><a href="https://www.pclinuxos.com" target="_blank">https://www.pclinuxos.com</a></td>
							<td>2013</td>
						</tr>
						<tr>
							<td>11</td>
							<td>Gentoo</td>
							<td>3.2%</td>
							<td><i class="fa fa-home"></i><a href="https://gentoo.org" target="_blank">https://gentoo.org</a></td>
							<td>20140211</td>
						</tr>
						<tr>
							<td>12</td>
							<td>Other</td>
							<td>2.1%</td>
							<td>-</td>
							<td>none</td>
						</tr>
						<tr>
							<td>13</td>
							<td>Slackware</td>
							<td>2.1%</td>
							<td><i class="fa fa-home"></i><a href="https://slackware.com" target="_blank">https://slackware.com</a></td>
							<td>14.1</td>
						</tr>
						<tr>
							<td>14</td>
							<td>elementary OS</td>
							<td>2%</td>
							<td><i class="fa fa-home"></i><a href="https://elementaryos.org" target="_blank">https://elementaryos.org</a></td>
							<td>20130810</td>
						</tr>
						<tr>
							<td>15</td>
							<td>Xubuntu</td>
							<td>2%</td>
							<td><i class="fa fa-home"></i><a href="https://xubuntu.org" target="_blank">https://xubuntu.org</a></td>
							<td>14.04</td>
						</tr>
						<tr>
							<td>16</td>
							<td>Manjaro</td>
							<td>1.8%</td>
							<td><i class="fa fa-home"></i><a href="https://manjaro.org" target="_blank">https://manjaro.org</a></td>
							<td>0.8.8</td>
						</tr>
						<tr>
							<td>17</td>
							<td>Red Hat Enterprise Linux</td>
							<td>1.6%</td>
							<td><i class="fa fa-home"></i><a href="https://redhat.com" target="_blank">https://redhat.com</a></td>
							<td>7</td>
						</tr>
						<tr>
							<td>18</td>
							<td>Ubuntu Server</td>
							<td>1.6%</td>
							<td><i class="fa fa-home"></i><a href="https://ubuntu.com" target="_blank">https://ubuntu.com</a></td>
							<td>13.10</td>
						</tr>
						<tr>
							<td>19</td>
							<td>CrunchBang</td>
							<td>1.1%</td>
							<td><i class="fa fa-home"></i><a href="https://crunchbang.org" target="_blank">https://crunchbang.org</a></td>
							<td>11</td>
						</tr>
						<tr>
							<td>20</td>
							<td>Mageia</td>
							<td>0.8%</td>
							<td><i class="fa fa-home"></i><a href="https://www.mageia.org" target="_blank">https://www.mageia.org</a></td>
							<td>3</td>
						</tr>
						<tr>
							<td>21</td>
							<td>Chakra</td>
							<td>0.6%</td>
							<td><i class="fa fa-home"></i><a href="https://www.chakra-project.org" target="_blank">https://www.chakra-project.org</a></td>
							<td>2014.02</td>
						</tr>
						<tr>
							<td>22</td>
							<td>Lubuntu</td>
							<td>0.5%</td>
							<td><i class="fa fa-home"></i><a href="https://lubuntu.net" target="_blank">https://lubuntu.net</a></td>
							<td>13.10</td>
						</tr>
						<tr>
							<td>23</td>
							<td>Puppy</td>
							<td>0.2%</td>
							<td><i class="fa fa-home"></i><a href="https://puppylinux.org" target="_blank">https://puppylinux.org</a></td>
							<td>5.1.1</td>
						</tr>
						<tr>
							<td>24</td>
							<td>Bodhi Linux</td>
							<td>0.1%</td>
							<td><i class="fa fa-home"></i><a href="https://www.bodhilinux.com" target="_blank">https://www.bodhilinux.com</a></td>
							<td>2.4.0</td>
						</tr>
						<tr>
							<td>25</td>
							<td>Kali Linux</td>
							<td>0.1%</td>
							<td><i class="fa fa-home"></i><a href="https://www.kali.org" target="_blank">https://www.kali.org</a></td>
							<td>1.0.6</td>
						</tr>
						<tr>
							<td>26</td>
							<td>Mandriva</td>
							<td>0.1%</td>
							<td><i class="fa fa-home"></i><a href="https://openmandriva.org" target="_blank">https://openmandriva.org</a></td>
							<td>2013</td>
						</tr>
						<tr>
							<td>27</td>
							<td>Oracle Linux</td>
							<td>0.1%</td>
							<td><i class="fa fa-home"></i><a href="https://oracle.com" target="_blank">https://oracle.com</a></td>
							<td>3</td>
						</tr>
						<tr>
							<td>28</td>
							<td>SolusOS</td>
							<td>0.1%</td>
							<td>abandoned</td>
							<td>1.3</td>
						</tr>
						<tr>
							<td>29</td>
							<td>Zorin OS</td>
							<td>0.1%</td>
							<td><i class="fa fa-home"></i><a href="https://zorin-os.com" target="_blank">https://zorin-os.com</a></td>
							<td>8</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th>Rate</th>
							<th>Distro</th>
							<th>Votes</th>
							<th>Homepage</th>
							<th>Version</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-linux"></i>
					<span>Most popular Linux distro</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content no-padding">
				<table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-3">
					<thead>
						<tr>
							<th>Rate</th>
							<th>Distro</th>
							<th>Votes</th>
							<th>Homepage</th>
							<th>Version</th>
							<th>Icon</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Ubuntu</td>
							<td>16%</td>
							<td><i class="fa fa-home"></i><a href="https://ubuntu.com" target="_blank">https://ubuntu.com</a></td>
							<td>13.10</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Debian</td>
							<td>14.1%</td>
							<td><i class="fa fa-home"></i><a href="https://debian.org" target="_blank">https://debian.org</a></td>
							<td>7.4</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>3</td>
							<td>Arch Linux</td>
							<td>10.8%</td>
							<td><i class="fa fa-home"></i><a href="https://archlinux.org" target="_blank">https://archlinux.org</a></td>
							<td>2014.02.01</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>4</td>
							<td>Linux Mint</td>
							<td>10.5%</td>
							<td><i class="fa fa-home"></i><a href="https://linuxmint.com" target="_blank">https://linuxmint.com</a></td>
							<td>16</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Fedora</td>
							<td>6.9%</td>
							<td><i class="fa fa-home"></i><a href="https://fedoraproject.org" target="_blank">https://fedoraproject.org</a></td>
							<td>20</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>6</td>
							<td>openSUSE</td>
							<td>5.2%</td>
							<td><i class="fa fa-home"></i><a href="https://opensuse.org" target="_blank">https://opensuse.org</a></td>
							<td>13.1</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>7</td>
							<td>SolydK</td>
							<td>4.7%</td>
							<td><i class="fa fa-home"></i><a href="https://solydxk.com" target="_blank">https://solydxk.com</a></td>
							<td>201401</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>8</td>
							<td>CentOS</td>
							<td>4.1%</td>
							<td><i class="fa fa-home"></i><a href="https://centos.org" target="_blank">https://centos.org</a></td>
							<td>6.5</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>9</td>
							<td>Kubuntu</td>
							<td>3.8%</td>
							<td><i class="fa fa-home"></i><a href="https://www.kubuntu.org" target="_blank">https://www.kubuntu.org</a></td>
							<td>13.10</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>10</td>
							<td>PCLinuxOS</td>
							<td>3.7%</td>
							<td><i class="fa fa-home"></i><a href="https://www.pclinuxos.com" target="_blank">https://www.pclinuxos.com</a></td>
							<td>2013</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>11</td>
							<td>Gentoo</td>
							<td>3.2%</td>
							<td><i class="fa fa-home"></i><a href="https://gentoo.org" target="_blank">https://gentoo.org</a></td>
							<td>20140211</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>12</td>
							<td>Other</td>
							<td>2.1%</td>
							<td>-</td>
							<td>none</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>13</td>
							<td>Slackware</td>
							<td>2.1%</td>
							<td><i class="fa fa-home"></i><a href="https://slackware.com" target="_blank">https://slackware.com</a></td>
							<td>14.1</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>14</td>
							<td>elementary OS</td>
							<td>2%</td>
							<td><i class="fa fa-home"></i><a href="https://elementaryos.org" target="_blank">https://elementaryos.org</a></td>
							<td>20130810</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>15</td>
							<td>Xubuntu</td>
							<td>2%</td>
							<td><i class="fa fa-home"></i><a href="https://xubuntu.org" target="_blank">https://xubuntu.org</a></td>
							<td>14.04</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>16</td>
							<td>Manjaro</td>
							<td>1.8%</td>
							<td><i class="fa fa-home"></i><a href="https://manjaro.org" target="_blank">https://manjaro.org</a></td>
							<td>0.8.8</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>17</td>
							<td>Red Hat Enterprise Linux</td>
							<td>1.6%</td>
							<td><i class="fa fa-home"></i><a href="https://redhat.com" target="_blank">https://redhat.com</a></td>
							<td>7</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>18</td>
							<td>Ubuntu Server</td>
							<td>1.6%</td>
							<td><i class="fa fa-home"></i><a href="https://ubuntu.com" target="_blank">https://ubuntu.com</a></td>
							<td>13.10</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>19</td>
							<td>CrunchBang</td>
							<td>1.1%</td>
							<td><i class="fa fa-home"></i><a href="https://crunchbang.org" target="_blank">https://crunchbang.org</a></td>
							<td>11</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>20</td>
							<td>Mageia</td>
							<td>0.8%</td>
							<td><i class="fa fa-home"></i><a href="https://www.mageia.org" target="_blank">https://www.mageia.org</a></td>
							<td>3</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>21</td>
							<td>Chakra</td>
							<td>0.6%</td>
							<td><i class="fa fa-home"></i><a href="https://www.chakra-project.org" target="_blank">https://www.chakra-project.org</a></td>
							<td>2014.02</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>22</td>
							<td>Lubuntu</td>
							<td>0.5%</td>
							<td><i class="fa fa-home"></i><a href="https://lubuntu.net" target="_blank">https://lubuntu.net</a></td>
							<td>13.10</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>23</td>
							<td>Puppy</td>
							<td>0.2%</td>
							<td><i class="fa fa-home"></i><a href="https://puppylinux.org" target="_blank">https://puppylinux.org</a></td>
							<td>5.1.1</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>24</td>
							<td>Bodhi Linux</td>
							<td>0.1%</td>
							<td><i class="fa fa-home"></i><a href="https://www.bodhilinux.com" target="_blank">https://www.bodhilinux.com</a></td>
							<td>2.4.0</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>25</td>
							<td>Kali Linux</td>
							<td>0.1%</td>
							<td><i class="fa fa-home"></i><a href="https://www.kali.org" target="_blank">https://www.kali.org</a></td>
							<td>1.0.6</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>26</td>
							<td>Mandriva</td>
							<td>0.1%</td>
							<td><i class="fa fa-home"></i><a href="https://openmandriva.org" target="_blank">https://openmandriva.org</a></td>
							<td>2013</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>27</td>
							<td>Oracle Linux</td>
							<td>0.1%</td>
							<td><i class="fa fa-home"></i><a href="https://oracle.com" target="_blank">https://oracle.com</a></td>
							<td>3</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>28</td>
							<td>SolusOS</td>
							<td>0.1%</td>
							<td>abandoned</td>
							<td>1.3</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
						<tr>
							<td>29</td>
							<td>Zorin OS</td>
							<td>0.1%</td>
							<td><i class="fa fa-home"></i><a href="https://zorin-os.com" target="_blank">https://zorin-os.com</a></td>
							<td>8</td>
							<td><i class="fa fa-linux"></i></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th>Rate</th>
							<th>Distro</th>
							<th>Votes</th>
							<th>Homepage</th>
							<th>Version</th>
							<th>Icon</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
// Run Datables plugin and create 3 variants of settings
function AllTables(){
	TestTable1();
	TestTable2();
	TestTable3();
	LoadSelect2Script(MakeSelect2);
}
function MakeSelect2(){
	$('select').select2();
	$('.dataTables_filter').each(function(){
		$(this).find('label input[type=text]').attr('placeholder', 'Search');
	});
}
$(document).ready(function() {
	// Load Datatables and run plugin on tables 
	LoadDataTablesScripts(AllTables);
	// Add Drag-n-Drop feature
	WinMove();
});
</script>
